{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a class="archive__item-title-text" href="{{ post.link }}" target="_blank">{{ title }}</a>
      {% elsif post.internal_link %}
        <a class="archive__item-title-text" href="{{base_path}}{{ post.internal_link }}" target="_blank">{{ title }}</a>
      {% else %}
        <span class="archive__item-title-text">{{ title }}</span>
      {% endif %}
      {% if post.coauthors %}
        <span> with {{ post.coauthors }}</span>
      {% endif %}
      {% if post.submitted %}
        <span><i>(Submitted)</i></span>
      {% endif %}
    </p>

    {% if post.citation %}
      <p class="archive__item-citation">Published in <i>{{ post.citation }}</i></p>
    {% endif %}
    {% if post.arxiv %}
      <a href="https://arxiv.org/abs/{{ post.arxiv }}" target="_blank">arxiv</a>
    {% endif %}


    <details>
      <summary>abstract</summary>
      {{ post.content }}
    </details>

  </article>
</div>
